@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
:root {
    --bg1: #151828;
    --bg2: #181f34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}

/* UTILITIES */
/* https://www.youtube.com/watch?v=o_zyzFGLpBA */
/* font-family: 'Dela Gothic One', cursive;
font-family: 'Inter', sans-serif; */
/* font-family: 'Licorice', cursive; */

body {
    position: relative;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
    overflow-x: hidden;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dela Gothic One', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: white;
}

a {
    color: var(--body);
    text-decoration: none;
    transition: all 0.4s ease;
}

.link-more{
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.link-more i {
    transition: all 0.4s ease;
    font-size: 20px;
}

.link-more:hover i{
    transform: translateX(8px);
}

a:hover {
    color:var(--brand);
}

img {
    width: 100%;
}

section {
    padding: 160px 0;
}


/* INTRO */
.intro {
    margin-bottom: 60px;
}

.intro h1{
    margin: 16px 0;
}

.intro h6 {
    color: var(--brand);
}

.intro p {
    max-width: 500px;
    margin: auto;
}

.cta-btns {
    margin: 60px;
}


/* NAVBAR */
.navbar {
background: linear-gradient(to bottom, #181f34, rgba(27, 31, 52, 0.2));
}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}

.navbar-brand {
    font-family: 'Dela Gothic One', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}

/* till minute 16.10 */

/* HERO */
#hero {
    background: linear-gradient(to right, #181f34, rgba(27, 31, 52, 0.1)), url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') ;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

#hero p {
    margin: 24px 0;
}

/* BUTTONS */
.btn {
    padding: 16px 36px;
    font-family: 'Dela Gothic One', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s ease; 
    border-radius: 0;
}

.btn-brand {
    background-color: var(--brand);
    width: 250px;
    margin: 30px;
}

.btn-brand:hover {
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand {
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
    width: 250px;
    margin: 30px;
}

.btn-outline-brand:hover {
    background-color: var(--brand);
    color: black;
}

/* ABOUT US */
.img-about {
    height: 650px;
    object-fit: cover;
}

.signature {
    font-family: 'Licorice', cursive;
    font-size: 45px;
}

#about {
    position: relative;
}

/* #about::after {
    content: '';
    width: 25%;
    height: 100%;
    background-color: var(--brand);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */

#about h6 {
    color: var(--brand);
}

#about h1 {
    margin: 16px 0 24px;
}



/* SERVICES */
#services{
    background: var(--bg2);
}

#services .service .service__content{
    padding: 32px;
}

#services .service p {
    margin: 18px 0;
}

/* MILESTONE */
#milestone {
    background: linear-gradient( #151b2eab, rgba(27, 31, 52, 0.726)), url('https://images.pexels.com/photos/3394222/pexels-photo-3394222.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') ;
    height: 60vh;
    background-position: center;
    background-size: cover;
}

#milestone h1 {
    color: var(--brand);
}

.counter{
    margin-top: 70px;
    letter-spacing: 2px;
}

/*  FEATURES */
#features {
    background-color: var(--bg2);
}

.feature {
    display: flex;
}

.feature .icon-feature{
    font-size: 36px;
    color: var(--brand);
    line-height: 1;
    margin-right: 16px;
}

.feature p {
    font-size: 14px;
    margin: 16px 0;
}

.features-desc{
    width: 300px;
}

/* SOCIAL ICONS */
.social-links a{
    width: 48px;
    height: 48px;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
} 

.social-links a:hover {
    background-color: var(--brand);
    color: var(--bg2);
}


/* TEAM */
.team-member {
    position: relative;
}

.team-member .social-links {
    position: absolute;
    top: 0px;
    left: 30px;
    transition: all 0.4s ease;
    opacity: 0;
}

.team-member:hover .social-links {
    opacity: 1;
    top: 30px;
}

/* REVIEWS */
#reviews {
    background-color: var(--bg2);
}

.review {
    padding: 32px;
    background-color: var(--bg1);
    position: relative;
}

.review img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.review .icon-review {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand);
    color: var(--bg1);
    position: absolute;
    right: 32px;
}

/* BLOG */
#blog {
    background-color: var(--bg1);
}

.blog-post {
    position: relative;
}

.blog-post .date{
    width: 100px;
    height: 100px;
    background-color: var(--brand);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32px;
    left: 32px;
}

.blog-post .day{
    font-size: 32px;
    line-height: 1;
    font-family: 'Dela Gothic One', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   color: var(--bg1);
}

.blog-post .year {
    color: var(--bg1);
}

/* Appointment */
#appointment {
    background: linear-gradient( #151b2e71, rgba(27, 31, 52, 0.651)), url('https://images.pexels.com/photos/3394222/pexels-photo-3394222.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') ;
    min-height: 60vh;
    background-position: center;
    background-size: cover;
}

#appointment form {
    background-color: var(--bg1);
    padding: 32px;
}

#appointment form .form-control {
    background-color: var(--bg2);
    border-radius: 0;
    margin-top: 16px;
    border-color: var(--bg2);
    border: 2px solid var(--bg2);
}

#appointment form input {
    height: 58px;
    color: var(--body);
}

#appointment form textarea {
    color: var(--body);
}

#appointment form .form-control:focus {
    box-shadow: none;
    border-left-color: var(--brand);
}

/* FOOTER */

footer {
    margin: 50px 0;
}

.footer-desc {
    max-width: 350px;
}


